<?xml version="1.0"?>
<configdata>
	<production>
		<webhost>ikariem.org</webhost>
		<database>
			<adapter>mysqli</adapter>
			<params>
				<host></host>
				<username></username>
				<password></password>
				<dbname></dbname>
			</params>
		</database>
		<libpath></libpath>
		<session_name>ikariem</session_name>
		<base_url>http://ikariem.org</base_url>
		<base_prefix>http://</base_prefix>
		<smarty>
			<compileDir>../data/templates_c</compileDir>
			<suffix>tpl</suffix>
		</smarty>
		<layout>
			<layoutPath>/views/layouts/</layoutPath>
			<contentKey>content</contentKey>
			<template>default</template>
			<suffix>tpl</suffix>
		</layout>
		<debugging>false</debugging>
		<cache>
			<defaultlifetime>3600</defaultlifetime>
			<defaultcachedir>../data/cache/</defaultcachedir>
		</cache>
	</production>
	
	<test extends="production">
		<debugging>true</debugging>
		<webhost>test.ikariem.org</webhost>
		<base_url>http://test.ikariem.org</base_url>
		<database>
			<adapter>mysqli</adapter>
			<params>
				<host>localhost</host>
				<username>ikariem</username>
				<password>EVW4qtsi23qV</password>
				<dbname>ikariem_test</dbname>
			</params>
		</database>
		<smarty>
			<compileDir>../data/templates_c</compileDir>
			<suffix>tpl</suffix>
		</smarty>
		<layout>
			<layoutPath>/views/layouts/</layoutPath>
			<contentKey>content</contentKey>
			<template>default</template>
			<suffix>tpl</suffix>
		</layout>
	</test>
	
	<staging extends="production">
		<debugging>true</debugging>
		<webhost>localhost</webhost>
		<base_url>http://ikariem.localhost</base_url>
		<database>
			<adapter>mysqli</adapter>
			<params>
				<host>localhost</host>
				<username>root</username>
				<password></password>
				<dbname>ikariem</dbname>
			</params>
		</database>
		<smarty>
			<compileDir>../data/templates_c</compileDir>
			<suffix>tpl</suffix>
		</smarty>
		<layout>
			<layoutPath>/views/layouts/</layoutPath>
			<contentKey>content</contentKey>
			<template>default</template>
			<suffix>tpl</suffix>
		</layout>
	</staging>
	
	<development extends="production">
		<debugging>true</debugging>
		<webhost>localhost</webhost>
		<base_url>http://localhost</base_url>
		<database>
			<adapter>mysqli</adapter>
			<params>
				<host>127.0.0.1</host>
				<username>root</username>
				<password></password>
				<dbname>ikariem</dbname>
			</params>
		</database>
		<smarty>
			<compileDir>../data/templates_c</compileDir>
			<suffix>tpl</suffix>
		</smarty>
		<layout>
			<layoutPath>/views/layouts/</layoutPath>
			<contentKey>content</contentKey>
			<template>default</template>
			<suffix>tpl</suffix>
		</layout>
	</development>
</configdata>